* {
    box-sizing: border-box;
}
html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    color: #222222;
    background-color: whitesmoke;
    font-family: 'Genos', sans-serif;
    margin: 0;
    line-height: 1;
}

nav {
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.clear{
    height: 100px;
}

.wrapper {
    /* margin-left: 40px;
    margin-right: 40px; */
    min-height: 100%;
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }

.push {
height: 50px;
}

.footer {
height: 50px;
background-color: #222222;
color: #ffffff;
text-align: center;
}

.footer-left {
    float: left;
    padding-left: 45px;
}

.footer-right {
    float: right;
    padding-right: 45px;
}


a {color: #222222;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

header {
    margin-bottom: 25px;
}

#logo {
    height: 11%;
    width: 11%;
    padding-top: 40px;
    padding-bottom: 10px;
}

#myInfo h2 {
    color: #222222;
    text-align: center;
    font-family: 'Genos', sans-serif;
    margin-top: 0px;
    margin-bottom: -5px;
}

#myInfo p {
    color: #222222;
    text-align: center;
    font-family: 'Genos', sans-serif;
    margin-top: 3px;
    margin-bottom: -5px;
}

#pageTitle h1 {
    color: #222222;
    text-align: center;
    font-family: 'Genos', sans-serif;
    margin-top: 0px;
    margin-bottom: -10px;
    font-size: 125px;
}

#pageTitle p {
    color: #222222;
    text-align: center;
    font-family: 'Genos', sans-serif;
    margin-top: 5px;
    font-size: 30px;
    margin-bottom: 50px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

#modalImg:hover {
    opacity: 0.7;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }

.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }

#stanceSite {
  width: 100%;
}

.stanceLogos {
  margin-left: 90px;
  margin-right: 90px;
}

.stanceCaptions p {
  margin: 4px 90px 0px 90px;
  text-align: right;
}

#postersCaption {
  margin-top: -61px;
}

.stanceContainer {
  display: flex;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 50px;
}

.stancePamp {
  flex: 50%;
}

.pampImg1 {
  padding-right: 20px;
}

.stancePosterContainer {
  margin-top: 50px;
  margin-bottom: 0px;
}


.caption {
    position: relative;
    margin-top: -57px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(13.33, 13.33, 13.33, 0.8);
    text-align: center;
}

.caption p {
    color: white;
    margin: 0px;
    padding: 0px;
}

.row {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }
  
  /* Create four equal columns that sits next to each other */
.column {
    flex: 30%;
    max-width: 30%;
    padding: 0 15px;
    margin-bottom: 20px;
}
  
.column img {
    margin-top: 18px;
    vertical-align: middle;
    width: 100%;
    height: 90%;
    object-fit: cover;
  }

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.5rem;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 65px;
}

.tile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tile:nth-child(1),
.tile:nth-child(7){
    grid-column: span 4;
    grid-row: span 2;
}

.tile:nth-child(2),
.tile:nth-child(3){
    grid-column: span 2;
}

.tile:nth-child(4),
.tile:nth-child(5),
.tile:nth-child(8),
.tile:nth-child(9){
    grid-column: span 3;
}

.tile:nth-child(6){
    grid-column: span 2;
    grid-row: span 2;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}







  
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

@media screen and (max-width: 650px){
    .container{
        display: block;
    }
    .tile{
        margin-bottom: 1rem;
    }
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
@media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }